@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 15 15 15;
    --foreground: 240 240 240;
    --muted: 150 150 150;
    --accent: 255 60 60;
    /* hex value of rgb(255,60,60) color is  #FF3C3C  */
  }

  body {
    background: radial-gradient(circle at center, rgb(30 20 20) 0%, rgb(10 10 10) 100%);
    min-height: 100vh;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
